<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>ESP32 OBD-II Emulator</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>

    <body>
        <div class="centered">
            <h3>ESP32 OBD-II Emulator</h3>
        </div>
        <div class="row">
            <div class="col c4 centered">
                <h1 id="current-speed">0</h1>
                <h3>Speed</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="0"
                        max="255"
                        value="0"
                        class="slider"
                        id="speed"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-rpm">0</h1>
                <h3>RPM</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="0"
                        max="16654"
                        value="0"
                        class="slider"
                        id="rpm"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-throttle">0</h1>
                <h3>Throttle</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="0"
                        max="100"
                        value="0"
                        class="slider"
                        id="throttle"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-engine_load">0</h1>
                <h3>Calculated Engine Load</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="0"
                        max="100"
                        value="0"
                        class="slider"
                        id="engine_load"
                    />
                </div>
            </div>

            <hr />

            <div class="col c4 centered">
                <h1 id="current-engine_coolant">0</h1>
                <h3>Engine Coolant Temperature</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="-40"
                        max="215"
                        value="0"
                        class="slider"
                        id="engine_coolant"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-engine_oil">0</h1>
                <h3>Engine Oil Temperature</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="-40"
                        max="210"
                        value="0"
                        class="slider"
                        id="engine_oil"
                    />
                </div>
            </div>

            <hr />

            <div class="col c4 centered">
                <h1 id="current-engine_demand_torque">0</h1>
                <h3>Engine Demand Torque</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="-125"
                        max="130"
                        value="0"
                        class="slider"
                        id="engine_demand_torque"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-engine_actual_torque">0</h1>
                <h3>Engine Actual Torque</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="-125"
                        max="130"
                        value="0"
                        class="slider"
                        id="engine_actual_torque"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-engine_reference_torque">0</h1>
                <h3>Engine Reference Torque</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="0"
                        max="65535"
                        value="0"
                        class="slider"
                        id="engine_reference_torque"
                    />
                </div>
            </div>

            <div class="col c4 centered">
                <h1 id="current-engine_percent_torque">0</h1>
                <h3>Engine Percent Torque</h3>
                <div class="slidecontainer">
                    <input
                        type="range"
                        min="-125"
                        max="130"
                        value="0"
                        class="slider"
                        id="engine_percent_torque"
                    />
                </div>
            </div>
        </div>

        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
